<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
</head>


<body>
    {{>navbar}}
    <div class="container">
        <div class="homePageInfo">
            <h6>Weather Page by {{owner}},</h6>
            <div class="blah">
                <h4>Know your State/City Weather</h4>
            </div>
            <button class="weatherbtn"><a href="/weather">Check Weather</a> </button>
        </div>
        <div class="clock">
            <div class="box">
                <h1><b id="clock"></b></h1>
            </div>
        </div>

    </div>
</body>

<script>
    var myFunc =()=>{
        let date = new Date()
        document.getElementById('clock').innerHTML = date.toLocaleTimeString()
    }
    setInterval(myFunc, 10)

</script>

</html>